<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.icytown.course.experimentone">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="false">
        <activity
            android:name=".context.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".context.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".context.FoodListActivity" android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".context.FoodDetailActivity" android:theme="@style/NoActionBarTheme" />
    </application>

</manifest>